<html>
<head>
<title>WC</title>
<link type="text/css" href="/css/custom-theme/jquery-ui-1.8.16.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type='text/javascript' src='/fullcalendar/fullcalendar.js'></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&v=3&libraries=geometry"></script>

<link rel='stylesheet' type='text/css' href='/fullcalendar/fullcalendar.css' />

<script>
     $(document).ready(function(){
		panelState = 'Create';
		p = 0;
		intervall = [];
		
		$('#fullcalendar').fullCalendar({
			// put your options and callbacks here
			height: 600,
			theme: true
		});
		
	    $( "#datepicker" ).datepicker();
		$( "#radio, #radio2, #radio3,#radio4" ).buttonset();
		$( "#accordion" ).accordion();
		
		var buttons = $('#push button, #check, #clearMap, #saveMap, #addIntervall, #removeIntervall').button();
		
		// Dialog			
		$('#dialog').dialog({
			autoOpen: false,
			width: 600,
			buttons: {
				"Ok": function() { 
					$(this).dialog("close"); 
				}, 
				"Cancel": function() { 
					$(this).dialog("close"); 
				} 
			}
		});
				
		// Dialog Link
		$('#dialog_link').click(function(){
			$('#dialog').dialog('open');
			return false;
		});
		
		
		$( "#sliderIntensity" ).slider({
			orientation: "vertical",
			range: "min",
			min: 0,
			max: 100,
			value: 60,
			slide: function( event, ui ) {
				document.getElementById('intensityHtml').innerHTML = ui.value;
			}
		});
		
		// Event for when press delete icon
		$('#deleteTrace').click(function(){
			clearMap();
		});
		
		// Event for when press delete icon
		$('#bikeTrace').click(function(){
			if(bikeLayer.getMap() === null){
				bikeLayer.setMap(map);
			}
			else{
				bikeLayer.setMap(null);
			}
		});
		
		$('#saveTrace').click(function(){
			
			//generate json format
			
			
			//send to server
			
			//when successfully sent, delete map data
			
		});
		
		 $('#addIntervall').click(function(){
		
			var target = $("input[type=text][id=unitInput]").val();
			var option = $('input[type=radio][name=radio2]:checked').attr('id');
			if(target !== ""){
				if (option === 'radioMeters'){
					if($("#intensityHtml").text() === '0'){
						$("select[name='intervallList']").append(new Option(target + "m", 'a'));
					}
					else{
						var output = target + "m @ " + $("#intensityHtml").text() + "%";
						$("select[name='intervallList']").append(new Option(output, 'a'));
					}
				}
				else if(option === 'radioSeconds'){
			
					if($("#intensityHtml").text() === '0'){
						$("select[name='intervallList']").append(new Option(target + "s", 'a'));
					}
					else{
						var output = target + "s @ " + $("#intensityHtml").text() + "%";
						$("select[name='intervallList']").append(new Option(output, 'a'));
					}
				}
				else{
				
				}
			}
		});
		
		$('#removeIntervall').click(function(){
		
		//implement delete in array
		//implement get index value to delete proper value in array
			$("select[name='intervallList'] :selected").remove();
			
		});
		
		//You can only enter numerical number in the field with this event
		$("input[type=text][id=unitInput]").keydown(function(event) {
			// Allow only backspace and delete
			if ( event.keyCode == 46 || event.keyCode == 8 ) {
				// let it happen, don't do anything
			}
			else {
				// Ensure that it is a number and stop the keypress
				if (event.keyCode < 48 || event.keyCode > 57 ) {
					event.preventDefault(); 
				}   
			}
		});
		
		//hover states on the static widgets
		$('#dialog_link, ul#icons li').hover(
			function() { $(this).addClass('ui-state-hover'); }, 
			function() { $(this).removeClass('ui-state-hover'); }
		);
		
		//Modification of UI based on user selection
		//rather complex, watch out for any modifications
		$("#radio4").click(function(event) { 
			var target = $(event.target);
			if (target.text() == 'View'){
				//this if statement blocks reloading of widget if already selected
				if(panelState !== 'View'){
					
					// Change calendar size
					$("#fullcalendar").animate({ 
						height: "500px", 
						width: "500px", 
					}, 1000, function(){
						//resize calendar, seems to be a glitch
						$('#fullcalendar').fullCalendar('render');
						}
					);
					//Transit between user panel functionality 
					$("#" + panelState).hide("slide", {}, 1000, function(){
				
						$("#View").show("slide", {}, 1000);
						panelState = 'View';
					});	
				}
			}
			else if(target.text() == 'Create'){
				//Block re-rendering of widget if already choosen
				if(panelState !== 'Create'){					
					// Change calendar size
					$("#fullcalendar").animate({ 
						height: "600px", 
						width: "800px", 
					}, 1000, function(){
						//resize calendar, seems to be a glitch
						$('#fullcalendar').fullCalendar('render');
						}
					);
					//Transit between user panel functionality
					$("#" + panelState).hide("slide", {}, 1000, function(){
				
						$("#Create").show("slide", {}, 1000);
						panelState = 'Create';
					});
				}
			}
			else if(target.text() == 'Map'){
				//Block re-rendering of widget if already choosen
				if(panelState !== 'Map'){					
					// Change calendar size
					$("#fullcalendar").animate({ 
						height: "500px", 
						width: "500px", 
					}, 1000, function(){
						//resize calendar, seems to be a glitch
						$('#fullcalendar').fullCalendar('render');
						}
					);
					//Transit between user panel functionality
					$("#" + panelState).hide("slide", {}, 1000, function(){
						$("#Map").show("slide", {}, 1000, function(){
							//initializes map after MAP div is properly centered, sinon bug
							if(map === undefined){
								initialize();
							}
						});
						panelState = 'Map';
					});
				}
			}
			else{
			
			
			}
			/*
			*/
		}); 
		
     });
	 	
</script>

<!-- Following code is for google mapped base parcour planner -->
<script type="text/javascript">
var map;
var poly;
var distance = 0;
var markerArray = [];
var bikeLayer = null;

function initialize() {
	
	bikeLayer = new google.maps.BicyclingLayer();
	var latlng = new google.maps.LatLng(45.50, -75.64);
	var myOptions = {
		zoom: 14,
		center: latlng,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	
	map = new google.maps.Map(document.getElementById("map_canvas"),myOptions);
	
	//Polyline option setters
	var polyOptions = {
		strokeColor: '#000000',
		strokeOpacity: 1.0,
		strokeWeight: 3
	}	
	poly = new google.maps.Polyline(polyOptions);
	poly.setMap(map);
	
	// Add a listener for the click event
	google.maps.event.addListener(map, 'click', addLatLng);
}

function addLatLng(event) {

	var path = poly.getPath();

	// Because path is an MVCArray, we can simply append a new coordinate
	// and it will automatically appear
	path.push(event.latLng);

	updateDistance(poly);
  
  // Add a new marker at the new plotted point on the polyline.
  var marker = new google.maps.Marker({
    position: event.latLng,
    title: Math.round(distance) + ' meters',
    map: map
  });
  
  markerArray.push(marker);
}

function updateDistance(poly){
	polypath = poly.getPath();
	
	if(polypath.getLength() !== 1){
		var latLngB = polypath.getAt(polypath.getLength() - 1);
		var latLngA = polypath.getAt(polypath.getLength() - 2);
		distance = distance + 
		google.maps.geometry.spherical.computeDistanceBetween (latLngA, latLngB);
		document.getElementById('distance').innerHTML = Math.round(distance*100)/100000 + ' km';
		
	}
	
}

function clearMap(){
	// remove poly from map
	poly.setMap(null);
	//delete poly
	poly = null;
	
	// recreate poly
	var polyOptions = {
		strokeColor: '#000000',
		strokeOpacity: 1.0,
		strokeWeight: 3
	}	
	poly = new google.maps.Polyline(polyOptions);
	poly.setMap(map);
	distance = 0;
	document.getElementById('distance').innerHTML = Math.round(distance) + ' meters';		
	
	//clear markers on map
	if (markerArray) {
		for (i in markerArray) {
			markerArray[i].setMap(null);
		}
	}
	
}

</script>


<style type="text/css">
			/*demo page css*/
			body{ font: 62.5% "Trebuchet MS", sans-serif; margin: 50px;}
			.demoHeaders { margin-top: 2em; }
			#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
			#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
			ul#icons {margin: 0; padding: 0;}
			ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
			ul#icons span.ui-icon {float: left; margin: 0 4px;}
			#left { float: left; }
			#right, #middle { float: right;}
			#intervall { display: table-row;}
</style>

</head>

<body>
<div id='header' style="float:top; width:1000px;"> 

	<div id='logo' style="float:left">    
		WC Logo
	</div>

	<div id='pub' style="float:center"> 
		/ Pub Space
	</div>

	<div id="toolBoxNav" style="float:right"> 
		<div id="radio4" style="margin-bottom: 2em;"> 
			<input type="radio" id="radio41" name="radio" checked="checked" /><label for="radio41">View</label> 
			<input type="radio" id="radio42" name="radio" /><label for="radio42">Map</label> 
			<input type="radio" id="radio43" name="radio" /><label for="radio43">Create</label> 
		</div>
	</div>

</div>

<!-- Full Calendar load -->
<div id='fullcalendar'  style="width:800px; float:left;"></div>

<!-- toolpane, contains 3 item that show up 1 at the time 
 No indent or wouldnt be readable-->
<div id='leftPane' style="width:210px; float:left; margin-left: 16px;"> 

<!-- Load the training viewer -->
<div id="View" style="display: none; background: green; width:510px; height:500px; margin-top:30px;">

View Results, comments and stats.

</div>

<div id="Map" style="display: none; width:510px; height:500px; margin-top:30px;">

	<div id="map_control">
		<ul id="icons" class="ui-widget ui-helper-clearfix">
		Click on map to trace.
		<input type="text" id="name">
		<li class="ui-state-default ui-corner-all" title="Clear Map" id="deleteTrace"><span class="ui-icon ui-icon-trash"></span></li>
		<li class="ui-state-default ui-corner-all" title="Save Trace" id="saveTrace"><span class="ui-icon ui-icon-disk"></span></li>
		<li class="ui-state-default ui-corner-all" title="Bike mode" id="bikeTrace"><span class="ui-icon ui-icon-transferthick-e-w"></span></li>
		<span id="distance">0 km</span>
		</ul>
	</div>
	
	<div id="map_canvas" style="width:500px; height:400px"></div>

</div>

<!-- Load the training planner -->
<div id="Create" >

	<div id='calendar'></div>

	<p>Date: <input type="text" id="datepicker"></p>
	
	<p><a href="#" id="dialog_link" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span>Add Partner</a></p>

	<div id="dialog" title="Social Interaction">
		Partner search option
	</div>

	<select title="Select Course">
		<option value="volvo">5km pres de la maison</option>
		<option value="saab">18.5k Aylmer</option>
	</select>
	
	<p> 
	<div id="radio1">
		<input type="radio" id="radio11" name="radio1" /><label for="radio1">Bike</label>
		<input type="radio" id="radio12" name="radio1" checked="checked" /><label for="radio2">Swim</label>
		<input type="radio" id="radio13" name="radio1" /><label for="radio3">Run</label>
	</div> 
	</p>

	<div id="accordion">
	<h3><a href="#">Intervall</a></h3>
	<div id="intervall">
		<ul id="icons" class="ui-widget ui-helper-clearfix">
		<div id="left" style="margin-top: 10px">
			
			<div style="float: right;">
				Select target
				<div id="radio2" style="margin-top: 5px; margin-bottom: 5px;">
					<input type="radio" id="radioMeters" name="radio2"  /><label for="radioMeters">m</label>
					<input type="radio" id="radioSeconds" name="radio2" checked="checked" /><label for="radioSeconds">s</label>
				</div>
				Target value <br>
				<input type="text" id="unitInput" size="4" style="margin-top: 5px; margin-bottom: 5px;"></input><br>
				Intensity<br>
				<div>
					<span id="intensityHtml" style="margin-top: 5px">70</span>%
				</div>
			</div>
			
			<div id="sliderIntensity" style="height:100px; float:left; margin-right: 10px; margin-top: 20px;"></div>
			
		</div>
		
		<div id="right" style="margin-top: 10px">
		<div>
			<li class="ui-state-default ui-corner-all" title=".ui-icon-circle-plusthick" id="addIntervall"><span class="ui-icon ui-icon-plusthick"></span></li>
			<li class="ui-state-default ui-corner-all" title=".ui-icon-circle-minusthick" id="removeIntervall"><span class="ui-icon ui-icon-minusthick"></span></li>
		</div>	
			<select size="7" style="width:110px;" name="intervallList">
			
			</select>
		</div>
		</ul>
	</div>
	
	<h3><a href="#">Distance</a></h3>
	<div>
		<p>
		Select Target type: <br>
		<div id="radio3">
			<input type="radio" id="radioKiloMeters" name="radio3"  /><label for="radioKiloMeters">Kilometers</label>
			<input type="radio" id="radioTime" name="radio3" checked="checked" /><label for="radioTime">Time</label> (hh:ss)
		</div>
		<input type="text" id="distanceInput" size="4">
		</p>
	</div>
	</div> <!--end of accordion -->

	<div id="push"> 
		<button>Add Workout</button> 
	</div>
	
</div> <!-- end of tool box -->

</div> <!-- end of toolPane -->

</body>

</html>