<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
<title> Your Workoutcell Profile</title>
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  authToken = "empty";
  authId = "empty";
  userObject = "empty";
  
  FB.init({
    appId  : '277924085557007',
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true, // parse XFBML
    channelURL : 'http://WWW.MYDOMAIN.COM/channel.html', // channel.html file
    oauth  : true // enable OAuth 2.0
  });
  
  FB.getLoginStatus(function(response) {
    if (response.authResponse) {
      authToken = response.authResponse.accessToken;
      authId = response.authResponse.userID;
      initPage();
    }
  });

</script>
</head>

<body>

<div id="header">

</div>
<br>
<a href="/logout"> Logout </a>

<div id="searchResult">
Content 
</div>

<script type="text/javascript">
  function initPage(){
    
    FB.api('/me', function(response) {
    
    userObject = response;
    var pictureTag = '<fb:profile-pic uid="' + authId + '" facebook-logo="false" linked="true" width="50" height="50" size="thumb"></fb:profile-pic>'; 
    var name = userObject.name;
    htmlText = pictureTag + ' ' + name + ', welcome to your Workoutcell profile';
    document.getElementById('header').innerHTML =  htmlText ;
    FB.XFBML.parse(document.getElementById('header'));
    
    });
    
 
  }
    
</script>
    <br>
    <a href="/view/index"> Switch to Training planner </a>

</body>

</html>